@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.hd-text {
  width: 35px;
  height: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-align: center;
  background: #232323;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
